@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .page-container{
    width: 100%;
    max-width: 1000px;
    margin: 50px auto;
    padding: 0 20px;
  }
  .Auth-input{
    width: 100%;
    padding: 15px 20px;
    margin: 10px 0;
    @apply bg-grayLight;
    border-radius: 6px;
    transition: all 0.1s linear;
    border: 1px solid transparent;
  }
  .Auth-input:focus{
    outline:none;
    background-color: white;
    box-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    border-color: transparent;
    --tw-ring-color: rgb(252, 193,87)
  }

  //focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent
  .btn-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  .have-account{
    @apply text-grayDark;
    text-align: center
  }
  .navlink {
    @apply text-primary;
    text-decoration: underline;
  }
  .navlink:hover {
    opacity: 0.5;
  }

  //HEADER
  .header-container{
    height: 100px;
  }
  .header-nav li  {
    display: inline-block;
    padding-left: 20px;

  }
  .header-nav  li:hover {
    @apply text-primary;
  }
  //Banner
  .banner-container {
    height: 520px;
    background-image: linear-gradient(to right bottom, rgba(252, 193, 87, 0.8), rgba(250, 103, 87, 0.8));
  }
  //Post feature
  .feature-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 100px;
  }
  .post-feature {
    background-image: url("../public/laptop_room.jpg");
    background-size: cover;
    margin: 20px;
    border-radius: 12px;
    width: 400px;
    height: 300px;
  }
}

@layer base {
  body{
    @apply font-body;
  }
}